*
.logo{
    content: url(/src/components/img/logo_small.png);
    /*display: flex;*/
    position: relative;
    
    width: 18%;
    margin-top: 3%;
    margin-left: 41%;
    margin-bottom: 2%;
    
}

.home{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7B6B6F ;
    text-align: center;
    
    

}
.slogan{
    margin-bottom: 2%;
}