.logo-contact{
   content: url(/public/img/logo_small.png);
    

    width: 15%;
    margin-top: 3%;
   
    margin-bottom: 2%;
  align-self: center;

}

.instagramIcon{
    color: var(--amarillo);
    width: 50px;
    height: 50px;
}
.instagramIcon:hover{
    color:var(--celeste);
}
.mailIcon{
    color:var(--amarillo);
    width: 50px;
    height: 50px;
}
.mailIcon:hover{
    color:var(--celeste);
}

.map:hover{
  transform: scale(1.1);
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    
   
}
.frame{
    box-shadow:  10px 10px 10px 10px #d9d9d9,
             5px 5px 5px  #ffffff;
}

.address{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    
    margin-top: 10px;
    
}
.contact{
    display: flex;
    flex-direction: column;
    
}
.contact-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: black;
    
   
}
.titulo-contacto{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #7B6B6F;
    text-align: left;
    
}
.margin-contact{
    margin-left: 10%;
    margin-right: 10%;
}

.center{
    text-align: center;
}
@media only screen and (max-width:500px) {
    .contact-container{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
       
    }
    .contact{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}
