.navBar {
    padding: 35px;
    background-color: black;
}

.opcionesMenu {
    position: relative;
    text-align: right;
}

.opcionesMenuSeccion {
    margin: 2%;
    padding: 5px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
}

.opcionesMenuSeccion:hover {
    color: var(--amarillo);
}