*
.footer{
    padding: 30px;
    background-color: black;
}

.seccionesFooter{
    display: inline-block;
    text-align: left;
    padding: 2%;
    margin-left: 3%;
    

}

.seccionesFooterLink{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: white;
}

.seccionShop{
    display:table-footer-group;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium ;
    color: white;
    
}

.malvina{
    margin-left: 250%;
    margin-top: 10px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large ;
    color: white;
}